body{
   font-weight: 400;
   font-family: Lato, Helvetica, sans-serif;
   font-size: 15px;
   line-height: 2.2em; 
   color: #818181;
   margin: 0;
}
header{
   background-color: #f45111;
   
}

h1{
   font-size: 60px;
   color: white;
   padding: 20px;
   text-align: center;
   
}
h2{
   font-size: 24px;
   text-transform: uppercase;
   color: #303030;
   font-weight: 600;
   background-color: aqua;
   margin: 30px;
   padding: 0px;
   text-align: center;
}
section,footer{
margin: 40px;
}


